.banner-content{
    width: 1170px;
height: 500px;
background-image: url('/Images/Group\ 13\ \(1\)\ \(1\).png');
border-radius: 16px;
color: white;
margin: 60px auto;
flex-direction: column;
justify-content: center; 
align-items: center;
}
.banner-text{
    
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.banner-title{
padding-top: 90px;
    color: #FFF;

font-family: Mulish;
font-size: 34px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.banner-des{
    padding-left: 250px;
    padding-right: 250px;
    color: #FFF;

text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.container-form{
    width: 800px;
    height: 70px;
    padding: 16px;
    margin: 0 auto;
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 8px;
 
}
.container-form form{
  
    justify-content: space-between;
}
.where-go{
    width: 170px;
    height: 50px;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);

text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#travel-time{
    width: 170px;
    height: 50px;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);

font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#select-type{
    width: 170px;
    height: 50px;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);

font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.form-button{
    width: 170px;
    height: 50px;
    border-radius: 8px;
    color: #FFF;

text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: #FF5400;
}
.popular-tours {
    width: 1170px;

    margin: 100px auto;

    display: flex;
}
.tour-des-img{
    padding-left: 50px;
}
.tour-des-title{
    color: #131318;

text-align: left;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.tour-des p{
    color: rgba(19, 19, 24, 0.70);

font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.tour-des li{
    color: rgba(19, 19, 24, 0.70);

font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.tour-des-button{
   margin-top: 30px;
    width: 175px;
    height: 50px;
    border-radius: 8px;
background: #FF5400;
color: #FFF;

text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.container-locations{
    width: 1170px;
    margin: 100px auto;
}
.locations-images {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
}
.locations-images img{
    width: 100%;
}
.img-1{
    grid-column: 1/span 6;
}
.img-2{
    grid-column: 7/span 6;
}
.img-3{
    grid-column: 1/span 4;
}
.img-4{
    grid-column: 5/span 5;
}
.img-5{
    grid-column: 10/span 3;
}
.img-6{
    grid-column: 1/span 5;
}
.img-7{
    grid-column: 6/span 7;
}